{% extends 'base.html' %}
{% load static %}
<title>{% block title %}Edit Prfile {% endblock %}</title>
{% block body %}


<div class="col-12 mt-5">
    <div class="delicious-tabs-content">
        <ul class="nav nav-tabs d-flex justify-content-center" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="tab--1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab--2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Change Password</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab--3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Change Email</a>
            </li>
        </ul>

        <div class="tab-content mb-80" id="myTabContent">
            <div class="tab-pane fade active show" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                <div class="delicious-tab-content">
                    <!-- Tab Text -->
                    {% comment %} edit profile {% endcomment %}
                    <div class="delicious-tab-text">
                        <div class="row">
                            <div class="col-12">
                                <div class="contact-form-area">
                                    <form  method="post" id="contact-form" autocomplete="off">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name"
                                                value="{% if request.user.first_name %}{{request.user.first_name}}{% endif %}">
                                            </div>
                                            <div class="col-12 col-lg-6">
                                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name"
                                                value="{% if request.user.last_name %}{{request.user.last_name}}{% endif %}">
                                            </div>
                                            <div class="col-12">
                                                <input type="number" class="form-control" id="phone_no" name="phone_no" value="{% if request.user.phone_no %}{{request.user.phone_no}}{%endif%}" placeholder="Phone No." required>
                                            </div>
                                            <div class="col-12">
                                                <input type="email" class="form-control" id="email" name="email"  value="{{request.user.email}}" readonly placeholder="E-mail" required>
                                            </div>
                                            <div class="col-12 text-center">
                                                <button class="btn delicious-btn mt-30" type="submit">Send</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab--2">
                <div class="delicious-tab-content">
                    <!-- Tab Text -->
                    {% comment %} change password {% endcomment %}
                    <div class="delicious-tab-text">
                        <div class="delicious-tab-text">
                            <div class="row">
                                <div class="col-12">
                                    <div class="contact-form-area">
                                        <form  method="post" id="password-change-form" autocomplete="off">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <input type="password" class="form-control" name="cur_password" id="cur_password" placeholder="Current Password." required>
                                                </div>
                                                <div class="col-12">
                                                    <input type="password" name="new_password" id="new_password" placeholder="New Password*" class="form-control"  required>
                                                </div>
                                                <div class="col-12">
                                                    <input  type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password*" class="form-control" required>
                                                </div>
                                                <div id="password-error" class="text-danger text-center col-12  "></div>
                                                <div class="col-12 text-center">
                                                    <button class="btn delicious-btn mt-30" type="submit">Update Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab--3">
                <div class="delicious-tab-content">
                    <!-- Tab Text -->
                    {% comment %} chnage email {% endcomment %}
                    <div class="delicious-tab-text">
                        <div class="delicious-tab-text">
                            <div class="delicious-tab-text">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="contact-form-area">
                                            <form  method="post" id="email-change-form" autocomplete="off">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-12">
                                                        <input type="email" name="cur_email" id="cur_email" placeholder="Current Email*" class="form-control" required value="{{request.user.email}}" readonly>
                                                    </div>
                                                    <div class="col-12">
                                                        <input type="email" name="new_email" id="new_email" placeholder="New Email*" class="form-control" required>
                                                    </div>
                                                   
                                                    <div class="col-12 text-center">
                                                        <button class="btn delicious-btn mt-30" type="submit">Update Email</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}

<script>
    const form_pass = document.getElementById('password-change-form');
    const newPassword = document.getElementById('new_password');
    const confirmPassword = document.getElementById('confirm_password');
    const passwordError = document.getElementById('password-error');
    
    
    form_pass.addEventListener('submit', function (event) {
        event.preventDefault();
        if (newPassword.value !== confirmPassword.value) {
            passwordError.textContent = "Passwords do not match";
            
        } else {
            passwordError.textContent = ""; // Clear any previous error message
            // Check current password before submitting the form
            submitForm();
        }
    });


    function submitForm() {
        const formData = new FormData(form_pass)
        console.log(form_pass)
        fetch('{% url "accounts:change_password" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        }).then(response => response.json())
        .then(data => {
            console.log(data)
            if (data.success) {
                // Handle success response here
                alert(data.message)
                window.location.href = "{% url 'accounts:login' %}";
                $('#chngpassmodal').modal('hide');
            } else {
                passwordError.textContent = data.message;
            }
        }).catch(error => {
            console.error("Network error occurred", error);
        });
    }
</script>

<script>
    const form_email = document.getElementById('email-change-form');
    form_email.addEventListener('submit', function (event) 
    {
        const formData = new FormData(form_email)
        console.log(formData)
        event.preventDefault();
        fetch('{% url "accounts:change_email" %}', {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        }).then(response => response.json())
        .then(data => {
            console.log(data)
            if (data.success) {
                // Handle success response here
                alert(data.message)
                window.location.href = "{% url 'accounts:login' %}";
                $('#chngpassmodal').modal('hide');
            } else {
                event.preventDefault(); 
                passwordError.textContent = data.message;
            }
        }).catch(error => {
            console.error("Network error occurred", error);
        });
        
    });    
</script>


{% endblock %}